
CREATE PROCEDURE SP_ELIMINAR_COMPRA_O_VENTA
@Modulo VARCHAR(10)
AS
DECLARE
	@IDU_ULTIMA_COMPRA INT,
	@IDU_ULTIMA_VENTA INT

	SET @IDU_ULTIMA_COMPRA = 0
	SET @IDU_ULTIMA_VENTA = 0

IF (@Modulo = 'Compras')	
	SET @IDU_ULTIMA_COMPRA = (SELECT MAX(ID) ULTIMA_COMPRA FROM Compras);
ELSE
   IF(@Modulo = 'Ventas')
      SET @IDU_ULTIMA_VENTA = (SELECT MAX(ID) ULTIMA_VENTA FROM Venta)

IF(@IDU_ULTIMA_COMPRA <> 0)
	DELETE FROM Compras WHERE ID = @IDU_ULTIMA_COMPRA
	ELSE
	   IF(@IDU_ULTIMA_VENTA <> 0)
			DELETE FROM Venta WHERE ID = @IDU_ULTIMA_VENTA

			
	