
CREATE PROCEDURE SP_INSERTAR_KARDEX
@Modulo VARCHAR(10),
@UsuarioCrea INT
AS
DECLARE
	@IDU_ULTIMA_COMPRA INT,
	@IDU_ULTIMA_VENTA INT

	SET @IDU_ULTIMA_COMPRA = 0
	SET @IDU_ULTIMA_VENTA = 0

IF (@Modulo = 'Compras')	
	SET @IDU_ULTIMA_COMPRA = (SELECT MAX(ID) ULTIMA_COMPRA FROM Compras);
ELSE
   IF(@Modulo = 'Ventas')
      SET @IDU_ULTIMA_VENTA = (SELECT MAX(ID) ULTIMA_VENTA FROM Venta)

IF(@IDU_ULTIMA_COMPRA <> 0)
	INSERT INTO Kardex (IdCompra,FechaRegistro,HoraRegistro,UsuarioCrea) VALUES(@IDU_ULTIMA_COMPRA,GETDATE(),SYSDATETIME(),@UsuarioCrea)
	ELSE
	   IF(@IDU_ULTIMA_VENTA <> 0)
			INSERT INTO Kardex (IdVenta,FechaRegistro,HoraRegistro,UsuarioCrea) VALUES(@IDU_ULTIMA_VENTA,GETDATE(),SYSDATETIME(),@UsuarioCrea)

			
	